<h1 align="center" style="text-align:center;">Welcome! <img height="28" style="height:1em;display:inline-block;" src="https://raw.githubusercontent.com/marvinscham/marvinscham/main/resources/wave.gif"></h1>
<p align="center" style="text-align:center;">I'm Marvin – M.Sc. student, fullstack developer and creator of <a href="https://masterychart.com">Mastery Chart</a>.<br>Located in Baden-Württemberg, Germany <img height="16" style="height:1em;display:inline-block;" src="https://marvinscham.de/assets/img/lang/de.png">.</p>
{# Derived from https://github.com/thmsgbrt/thmsgbrt #}

<h2>🛠 Tools I use</h2>
<p>
{% for item in technologies -%}
<img alt="{{ item['name'] }}" style="display:inline-block;" src="https://img.shields.io/badge/-{{ item["name"] | replace(" ", "_") }}-{{ item['color'] | replace("#", "") }}?style=flat-square&logo={{ item['logo'] or item['name'] | replace(" ", "_") }}&logoColor=white" />
{% endfor -%}
</p>

<h2>🎁 Open source</h2>

<table>
  <tbody>
{%- for project in projects -%}
    <tr>
      <td><a href="https://github.com/{{ project['repository'] }}"><b>{{ project['name'] }}</b></a></td>
      <td><img alt="Stars" src="https://img.shields.io/github/stars/{{ project['repository'] }}?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Issues" src="https://img.shields.io/github/issues/{{ project['repository'] }}?style=flat-square&labelColor=343b41"/></td>
      <td><img alt="Pull Requests" src="https://img.shields.io/github/issues-pr/{{ project['repository'] }}?style=flat-square&labelColor=343b41"/></td>
    </tr>
{%- endfor -%}
  </tbody>
</table>

{%- if waka_stats|length > 1 %}
<h2>📊 30-day breakdown</h2>

{{ waka_stats }}
{% endif %}

{%- if blog_entries|length > 1 %}
<h2>📓 Latest blog posts</h2>
<ul>
{%-   for entry in blog_entries %}
<li><a href="{{ entry["url"] }}">{{ entry["title"] }}</a></li>
{%-   endfor %}
</ul>
{% endif %}

{%- if duolingo_stats["lang_data"]|length > 1 %}
<h2>🦉 Duolingo progress</h2>
<ul>
  <li>🔥 Streak: {{ "%d"|format(duolingo_stats["streak"]|float) }}</li>
  <li>⚡ {{ "%d"|format(duolingo_stats["xp"]|float) }} XP</li>
  <li>👨‍🎓 Currently learning: <img height="16" style="height:1em;display:inline-block;" src="https://marvinscham.de/assets/img/lang/{{ duolingo_stats['learning_language'] }}.png"/> {{ duolingo_stats['current_lang'] }}</li>
</ul>
{% endif %}

<h2>👥 Social</h2>

<p align="center" style="text-align:center;">
{%- for social in socials -%}
<a href="{{ social['url'] }}" style="display:inline-block;" target="_blank"><img alt="{{ social['name'] }}" src="https://img.shields.io/badge/{{ social['name'] }}-%23{{ social['color']|replace("#","") }}.svg?&style=for-the-badge&logo={{ social['logo'] }}&logoColor=white" /></a>
{% endfor %}
</p>

<hr>

<p align="center" style="text-align:center;">Last update: {{ last_update }}</p>
<p align="center" style="text-align:center;"><a href="https://github.com/marvinscham/marvinscham/actions/workflows/metrics.yml"><img src="https://github.com/marvinscham/marvinscham/actions/workflows/metrics.yml/badge.svg" alt="Update README" style="display:inline-block;"></a> <img alt="made with ♥" style="display:inline-block;" src="https://img.shields.io/badge/made_with-%E2%99%A5-663399?style=flat&labelColor=%23343B41"></p>
